<h1 class="text-center"> Log Out</h1>

<p class="lead text-center">Even the best of times must come to an end.</p>

<div class="text-center">
<p><a class="btn btn-lg btn-warning" href="/songs/new" role="button">Add a Song</a></p>
</div>

