<h1 class="text-center"> Welcome</h1>
<p class="lead text-center">SongBORD is all about posting your favorite songs! Stop dealying and start sharing with your fellow BORDERS.</p>

<div class="text-center">
  <p><a class="btn btn-lg btn-warning" href="/songs/new" role="button">Add a Song</a></p>
</div>

