<div class="row">
  <h1> All Songs</h1>  
  <p><a class="btn btn-sm btn-warning" href="/songs/new" role="button">Add a Song</a></p>
   
</div>

<div class="row">
  <% @songs.each do |song| %>
   
   <div class = "col-sm-4 text-center song">
      <h3><%= song.title %></h3>
      <p><%= song.url %></p>
      <span class="user"><%= User.find(song.user_id).email %></span>

    </div>

  <% end %>
</div>


