<div class="row">
  <h1> All Songs</h1>  
  <p><a class="btn btn-sm btn-warning" href="/songs/new" role="button">Add a Song</a></p>
   
</div>

<div class="row">
  <% @songs.each do |song| %>
   
   <div class = "col-sm-4 text-center song">
      <h3><%= song.title %></h3>
      <p><%= song.url %></p>
      <span class="user"><%= song.user.email %></span>

      <form action="/songs" method="post">

        <input type="hidden" name="song_id" value= <%= song.id %> >
        <button type="submit" class="btn btn-alert">Vote</button>

      </form>

    </div>

  <% end %>
</div>


