<h1> Add a Song</h1>

<form>
  <div>
    <label>Author:</label>
    <input type="text" name="author">
  </div>
  <div>
    <label>Subject:</label>
    <input type="text" name="subject">
  </div>
  <div>
    <label>URL:</label>
    <input type="text" name="url">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>