<!DOCTYPE html>
<html lang="en">
<head>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="/javascript/application.js"></script>
  <link rel="stylesheet" href="/stylesheets/application.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <title>SongBORD</title>
</head>
<body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/songs">All Songs </a></li>
            <li role="presentation"><a href="/songs/new">Add Song</a></li>
             
            <% if @username %> 
              <li role="presentation"><a href="/users/logout">Log Out
            <%else%>
              <li role="presentation"><a href="/users/login">Log In
            <%end%>

             </a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Song<span class="bord">BORD</span></h3>
      </div>

      <div class="jumbotron">
           <%= yield %>
      </div>

    </div> <!-- /container -->
  </body>
</html>


